// quick reset

html, body, div, span, 
h1, h2, h3, h4, h5, h6, p,
a, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
figure, figcaption, footer, header, 
menu, nav, section, summary{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}


// styles


body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #FAFAFA;
    color: #000;
}

.container{
	width: 988px;
	margin: 39px auto 0 auto;
	font-size: 18px;
	line-height: 1.45em;
	text-align: center;
	// letter-spacing: 0.67px;
}

.container__title{
	font-size: 30px;
	line-height: 1.34em;
    // letter-spacing: 0.33px;
}


// pricing table

.pricing-table{
	margin-top: 64px;
}

.package{
	float: left;
	width: 318px;
	margin-top: 35px;
	padding: 19px 18px 28px;
	box-sizing: border-box;
    border: 2px solid;
    background-color: #fff;
    font-size: 15px;
}

.package_left{
	border-radius: 8px 0px 0px 8px;
	border-color: #A5B4BB;
}

.package_right{
	border-radius: 0px 8px 8px 0px;
	border-color: #3984A7;
}

.package__title{
	font-size: 22px;
	line-height: 1.46em;
	text-align: center;
}

.hor-line{
	height: 1px;
	background-color: #C4C4C4;
}

.package__hor-line{
	margin-top: 14px;
}


//  option list


.option-list__item{
	margin-top: 13px;
	text-align: left;
}

.icon-wrapper{
    width: 30px;
    height: 22px;
    text-align: center;
}

.option-list__icon-wrapper{
    margin-right: 8px;
}

.option-list__icon{
	vertical-align: middle;
}

.option-list__checkbox + label {
	cursor: pointer;
}

.option-list__checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}

.option-list__checkbox:not(checked) + label {
	display: flex;
	line-height: 20px;
	position: relative;
	padding: 0 0 0 36px;
}

.option-list__checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 1px; // think about it!
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	border:2px solid #5EC3EA;
	background: #fff;
}

.option-list__checkbox:not(checked) + label:after {
  display: none;
  content: '';
  position: absolute;
  background: url("../images/tick.svg") center no-repeat;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.option-list__checkbox:checked + label:before {
  background: #5EC3EA;
}

.option-list__checkbox:checked + label:after {
  display: block;
}

.option-list__hor-line{
	margin: 23px 0 13px 0;
}

.price{
	line-height: 1.47em;
}

.ruble-icon{
	height: 11px;
}


//  buttons

.button{
	height: 40px;
	width: 144px;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #62C3E8;
}

.button:hover{
	background-color: #26A0CB;
}

.option-list__button{
	margin-top: 14px;
}


//  premium package

.package_premium{
	position: relative;
    margin: 0 -2px;
	width: 356px;
	padding: 19px 37px 30px 37px;
    border: 3px solid #41C1F1;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.package_premium::before{
	content: " ";
	display: block;
	position: absolute;
	top: -42px;
	right: -22px;
	height: 97px;
	width: 152px;
	background: url("../images/badge.svg") center no-repeat;
}


//  premium option list

.package__list{
    margin-bottom: 12px;
}

.list__item{
	display: flex;
    height: 22px;
	line-height: 20px;
	margin-top: 19px;
}

.list__icon{
    margin-right: 23px;
}

.list__icon:before {
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    content: "";
}

.list__icon img {
    display: inline-block;
    vertical-align: middle;
}

.list__item_gift{
    position: relative;
    height: 26px;
    line-height: 24px;
    padding-left: 54px;
    border-radius: 26px;
    color: #fff;
}

.list__item_gift_fly{
    background-color: #41C1F1;
}

.list__item_gift_fly:before {
    content: "";
    width: 36px;
    height: 39px;
    position: absolute;
    top: -10px;
    left: 0;
    background: url(../images/fly.svg) center no-repeat;
}

.list__item_gift_choko{
    background-color: #7D5B52;
}

.list__item_gift_choko:before {
    content: "";
    width: 58px;
    height: 40px;
    position: absolute;
    top: -11px;
    left: -5px;
    background: url(../images/choko.svg) center no-repeat;
}

.price__sup-text{
	position: relative;
	color: #6A747A;
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
}

.price__sup-text:before {
  position: absolute;
  width: 45px;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: #FF1818;
  
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  -o-transform:rotate(-8deg);
  transform:rotate(-8deg);
}

.button_premium{
	width: 276px;
	margin-top: 8px;
	background-color: #FF5F6D;
}

.button_premium:hover{
	background-color: #FF4658;
}