.button{
	height: 40px;
	width: 144px;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #62C3E8;
}

.button:hover{
	background-color: #26A0CB;
}

.option-list__button{
	margin-top: 14px;
}

.button_premium{
	width: 276px;
	margin-top: 8px;
	background-color: #FF5F6D;
}

.button_premium:hover{
	background-color: #FF4658;
}